doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="style.css" rel="stylesheet")
    title Robot!
  body
    img
    div.position
    div.joystick

    script(src="https://unpkg.com/superdom@1")
    script(src="https://unpkg.com/socket.io-client@1/dist/socket.io.slim.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/mousetrap/1.6.1/mousetrap.min.js")
    script(src="/javascript.js")
