doctype html
html
  head
    title Robot!
    style.
      body {
        padding: 50px 0;
        text-align: center;
      }
  body
    p Where should I go?

    div
      button.goup UP
    div
      button.goleft LEFT
      button.goright RIGHT
    div
      button.godown DOWN

    script(src="https://unpkg.com/superdom@1")
    script(src="https://unpkg.com/socket.io-client@1/dist/socket.io.slim.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/mousetrap/1.6.1/mousetrap.min.js")
    script(src="/javascript.js")
